body{
    margin: 0;
    padding: 0;
}

header{
    background-image: url(Estrellas_fugaces_fondo.jpg);
}

nav{
    background-color: rgb(216, 245, 255);
}

article{
    background-color: rgb(251, 241, 255);
}

aside{
    background-image: url(aside.jpg);
}

footer{
    background-color: rgb(228, 252, 255);
}

.contenedor{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, nav{
    flex: 1;
}

selection{
    display: flex;
    flex-direction: row;
    flex: 1;
}

article{
    flex: 4;
}

aside{
    flex: 1;
}

h1, h2{
    margin: 0;
}

footer{
    display: flex;
    flex-direction: row;
}

footer div{
    flex: 1;
}

